.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tileEnabled {
  border: 2px solid #61dafb;
  font: 6em sans-serif;
}

.XtileEnabled {
  border: 2px solid #61dafb;
  font: 6em sans-serif;
  color: red;
}

.OtileEnabled {
  border: 2px solid #61dafb;
  font: 6em sans-serif;
  color: green;
}

.tileDisabled {
  border: 2px solid #61dafb;
  font: 6em sans-serif;
  background-color: burlywood;
  pointer-events: none;
}

.XtileDisabled {
  border: 2px solid #61dafb;
  font: 6em sans-serif;
  color: red;
  background-color: burlywood;
  pointer-events: none;
}

.OtileDisabled {
  border: 2px solid #61dafb;
  font: 6em sans-serif;
  color: green;
  background-color: burlywood;
  pointer-events: none;
}

.matrix {
  display: grid;
  width: 300px;
  height: 300px;
  grid-template-columns: 98px 98px 98px;
  grid-template-rows: 98px 98px 98px;
  justify-content: center;
  border: #ffffff;
}

.MainPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.reset {
  font-size: 2em;
  margin: 10px;
  color: rgb(34, 240, 205);
}

body {
  background-color: rgb(103, 163, 241);
}
